.loginPage {
    width: 568px;
    border: 3px solid;
    margin: 258px auto 0;
    border-radius: 50px;
    background-color: #FDFBE6;
    font-weight: 900;
    font-size: large;

    .smile {
        position: absolute;
        width: 568px;
        height: 50px;

        img {
            position: absolute;
            top: -43px;
            right: 40%;
        }
    }

    .Logo {
        text-align: center;
        height: 60px;
        position: absolute;
        top: 183px;
        left: 0;
        width: 100%;
        min-width: 600px;

        h1 {
            width: 300px;
            margin: 0 auto;
            border: 3px solid;
            padding: 10px 0;
        }
    }

    form {
        // border: 1px solid;
        margin: 0px 50px;
        padding: 72px 0 40px 0;

        input {
            border: 3px solid;
            width: 460px;
            height: 45px;
            margin-top: 5px;
            padding: 10px;
        }
    }

    .loginbtn {
        width: 404px;
        margin: 42px auto 0;

        button {
            width: 100%;
            padding: 18px;
            background-color: #F86D0A;
            border: 3px solid;
            border-radius: 50px;

            p {
                color: white;
                font-size: 30px;
                font-weight: 600;
            }
        }
    }

    .toSignup {
        position: absolute;
        width: 600px;

        a {
            position: absolute;
            right: 47px;
            top: 40px;
            border: 3px solid;
            padding: 15px 50px;
            border-radius: 30px;
        }
    }
}