$border: 4px solid #000;

$colors: (
  slide: rgb(255, 158, 79), 
);

@each $button, $color in $colors {
  .#{$button} {
    --color: #{$color};
    --hover: #{adjust-hue($color, 45deg)};
  }
}

div.bg01{
    position: fixed;
    top: 680px;
    right: 50px;
    z-index: -1;
}

div.bg02{
    position: fixed;
    top: 250px;
    left: 150px;
    z-index: -1;
}

article.container{
    width: 60vw;
    // height: 500px;
    height: auto;
    background-color: rgba(255,255,192,0.1);
    backdrop-filter: blur(10px);
    border: $border;
    margin: 0px auto;
    position: relative;

    div.category{
        display: flex;
        position: absolute;
        top: -50px;
        left: 0;
        width: 100.4%;
      
        div{
            width: 40%;
            height: 50px;
            border: $border;
            margin-left: -4px;
            font-size: 21px;
            font-weight: bolder;
            display: flex;
            justify-content: center;
            align-items: center;  
            background-color: #fff;
        }

        div.selected {
            background-color: #afd3ff;
        }
    }

    div.sidebar{
        position: absolute;
        display: flex;
        flex-direction: column;
        top: 50px;
        right: -140px;

        button.slide {  
            width: 140px;
            height: 80px;
            transition: 420ms;
            background-color: #ffc83b;
            border: $border;
            font-weight: bolder;
            font-size: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 15px;

            &:hover,
            &:focus { 
                //border-color: var(--hover);
                color: #000000;
            }
        }

        .slide:hover,
        .slide:focus {
            box-shadow: inset 6.7em 0 0 0 var(--hover);
        }

        .sidebarI{
            width: 100px;
            height: 80px;
            border: $border;
            background-color: #FFAFAF;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    form{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        input{
            border: none;
            &:focus{outline:none;}
        }
        input.title{
            width: 80%;
            height: 3vh;
            margin-top: 5vh;
            border-bottom: 1.5px solid #000;
            padding: 15px;
            font-size: 18px;
        }
        textarea.text{
            width: 80%;
            height: 30vh;
            margin-top: 3vh;
            border: none;
            resize: none;
            background: #E9F0FF;
            border-radius: 10px;
            padding: 15px;
            font-size: 17px;
            &:focus{outline:none;}
        }
        input.submit{
            width: 100px;
            height: 5vh;
            margin-top: 3vh;
            margin-left: 39vw;
            background-color: #A8D5FF;
            font-weight: bold;
            font-size: 16.5px;
            // border: 3px solid #000;
            &:hover{
                background-color: #77bdff;
            }
        }
    }
}

div.sidebarW{
    position: absolute;
    top: 50px;
    right: -140px;

    button.slide {  
        width: 140px;
        height: 70px;
        transition: 420ms;
        background-color: #ffc83b;
        border: $border;
        font-weight: bolder;
        font-size: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;

        &:hover,
        &:focus { 
            //border-color: var(--hover);
            color: #000000;
        }
    }

    .slide:hover,
    .slide:focus {
        box-shadow: inset 6.7em 0 0 0 var(--hover);
    }

    .sidebarI{
        width: 100px;
        height: 80px;
        border: $border;
        background-color: #FFAFAF;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.block{
    display: block;
}

.none{
    display: none;
}













div.listBox{
    width: 90%;
    height: auto;
    border: 2px solid #000;
    margin: 40px auto;
    border-radius: 10px;
    .top{
        border-bottom: 2px solid #000;
        padding: 10px 15px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #c6dcc92e;
        .profile{
            display: flex;
            img{
                width: 40px;
                height: 40px;
            }
            .nickname{
                display: flex;
                flex-direction: column;
                justify-content: center;
                margin-left: 10px;
                p{
                    font-size: 12px;
                    color: #282828;
                    display: inline;
                }
            }
        }
        .BTN{
            display: flex;
            align-items: center;
            button{
                width: 28px;
                height: 28px;
                border: none;
                background-color: transparent;
                margin-left: 10px;
                transition: 350ms;
                transform: scale(0.95);
                &:hover{
                    transform: scale(1.05);
                }
            }
        }
      
    }
    .middle{
        width: 100%;
        border-bottom: 2px solid #000;
        padding: 30px 15px;  
        word-break:break-all;
        background-color: #fff;
        p{
            width: 100%; 
        }
    }
    .bottom{
        width: 100%;
        padding: 10px 25px 10px 15px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .bottom01{
            display: flex;
            align-items: center;
            b{
                margin-right: 10px;
                cursor: pointer;
                transition: 400ms;
                color: #474747;
                &:hover{
                    transform: scale(1.05);
                    color: #2b2b2b;
                }
            }
            div{
                display: flex;
                button{
                    display: flex;
                    align-items: center;
                    background-color: #fff;
                    border-radius: 50px;
                    margin: 0px 5px;
                    padding: 4px 9px;
                    p{
                        font-size: 17px;
                        margin-left: 10px;
                    }
                }
            }
        }
        .like{
            border: none;
            background-color: transparent;
            width: 26px;
            height: 24px;
            cursor: pointer;
        }


    }
    .comment{
        padding: 10px 15px;
        .commentInput{
            display: flex;
            align-items: center;
            input{
                width: 40%;
                height: 30px;
                margin-right: 10px;
                padding: 0px 10px;
            }
            button{
                width: 7%;
                height: 30px;
                border: none;
                background-color: #c6dcc9a3;
            }
        }
        .profileC{
            display: flex;
            flex-direction: column;
            padding: 15px 0px;
        }
        .profileCC{
            display: flex;
            align-items: center;
            img{
                width: 28px;
                height: 28px;
            }
            p{
                font-weight: bold;
                font-size: 15px;
                color: #282828;
                margin-left: 10px;
            }
        }
        p{
            color: #282828;
            margin-top: 8px;
        }
    }
}

.topBTN{
    position: fixed;
    z-index: 999;
    right: 44px;
    bottom: 60px;
    width: 100px;
    height: 50px;
    background-color: red;
}