$border: 4px solid #000;

.fabric{
    margin-top: 50px;
    width: 100vw;
    height: 85vh;
    iframe{
        border: none;
        margin: 0;
        padding: 0; 
        width: 100%;
        height: 100%;

    }
}

.bbuuu{
    position: absolute;
    top: 30%;
    left: 20%;
    transform: translate(-50%,-50%);
    animation: moveUpDown 3s ease-in-out infinite;
    z-index: 2;
}
@keyframes moveUpDown {
    0% {
        top: 22%;
    }
    50% {
        top: 23%;
    }
    100% {
        top:22%;
    }
}