$border: 4px solid #000;
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@keyframes upDown {
    0%{
        top: -80px;
    }
    50%{
        top: -100px;
    }
    100%{
        top: -80px;
    }
}
@keyframes upDown01 {
    0%{
        top: -50px;
    }
    50%{
        top: -65px;
    }
    100%{
        top: -50px;
    }
}

main.main{
    width: 100%;
    background: linear-gradient(#DCCCFB, #EAE1FF, #D7E0F7, #C7E4FF);
    padding: 140px 0 200px;
    .mainWidth{
        width:calc(100vw - 300px);
        margin: 0 auto;
        div.top{
            position: relative;
            margin-bottom: 45px;
            .icon01{
                position: absolute;
                left: 40px;
                top: -80px;
            }
            .icon02{
                position: absolute;
                right: 0;
                top: -80px;
                animation: upDown 2s ease-in-out infinite alternate;
            }
            div.box01{
                box-sizing: border-box;
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 100%;
                height: 70px;
                border-radius: 50px;
                background-color: #FFEDF7;
                border: $border;
                margin: 0px auto;
                padding: 0 20px 0 40px;
                p{
                    font-family: 'Inter', sans-serif;
                    font-size: 20px;
                    font-weight: 700;
                    line-height: 25px;
                    .br{
                        display: none;
                    }
                }
                .icon03{
                    img{
                        margin-left: 10px;
                    }
                }
            }
        }
        div.center{
            box-sizing: border-box;
            width: 100%;
            margin: 0 auto;
            border: $border;
            background-color: #fff;
            position: relative;
            a{
                position: absolute;
                right: 2%;
                top: 2%;
                &:hover{
                    &::before{
                        content: "내정보 수정하기";
                        box-sizing: border-box;
                        text-align: center;
                        padding: 12px 0;
                        position: absolute;
                        top: 50px;
                        right: -150px;
                        background-color: #fff;
                        border: $border;
                        width: 200px;
                        height: 57px;
                        border-radius: 14px;
                        font-family: 'Inter', sans-serif; 
                        font-size: 20px;
                        font-weight: 700;
                        line-height: 25px;
                    }
                }
            }
            .middle{
                display: flex;
                padding: 7% 10%;
                justify-content: space-between;
                margin-bottom: 115px;
                width: 100%;
                box-sizing: border-box;
                .dday{
                    background-image: url('/img/mypage/d-day.png');
                    width: 335px;
                    height: 279px;
                    position: relative;
                    p{
                        position: absolute;
                        left: 40%;
                        top: 43%;
                        font-family: 'Inter', sans-serif;
                        font-size: 20px;
                        font-weight: 700;
                        line-height: 25px;
                        text-align: center;
                        span{
                        font-size: 50px;
                        line-height: 60px;
                        }
                    }
                }
                .character{
                    position: relative;
                    width: 65%;
                    .charTitle{
                        font-family: 'Inter', sans-serif; 
                        font-size: 20px;
                        font-weight: 700;
                        line-height: 25px;
                        position: absolute;
                        top: -32px;
                        left: 50%;
                        transform: translateX(-50%);
                        text-align: center;
                        padding-top: 15px;
                        box-sizing: border-box;
                        width: 40%;
                        height: 65px;
                        border: $border;
                        text-align: center;
                        background-color: #FDB4AD;
                    }
                    .collect{
                        box-sizing: border-box;
                        border: $border;
                        padding: 100px 0 45px 85px;
                        ul{
                            display: flex;
                            flex-wrap: wrap;
                            li{
                                font-family: 'Inter', sans-serif; 
                                font-size: 16px;
                                font-weight: 500;
                                line-height: 20px;
                                margin-right: 50px;
                                margin-bottom: 50px;
                            }
                        }
                    }
                }
            }
            .bottom{
                padding: 0 10%;
                margin: o auto;
                .btn{
                    button{
                        box-sizing: border-box;
                        width: 16%;
                        height: 60px;
                        border: $border;
                        border-bottom: 0;
                        font-family: 'Inter', sans-serif; 
                        font-size: 20px;
                        font-weight: 700;
                        line-height: 25px;
                        &:nth-child(2){
                            border-left: 0;
                        }
                        &:hover{
                            background-color: #ECD5FF;
                        }
                    }
                }
                .container{
                    border: $border;
                    width: 100%;
                    height: 650px;
                    margin-bottom: 200px;
                    display: flex;
                    flex-wrap: wrap;
                    box-sizing: border-box;
                    overflow-y: scroll;
                    padding: 7% 0 0 10%;
                    &::-webkit-scrollbar{
                        width: 30px;
                    }
                    &::-webkit-scrollbar-thumb{
                        background-color: #FFEDF7;
                        border-radius: 15px;
                    }
                    &::-webkit-scrollbar-track{
                        background-color: #E6E6E6;
                        border-radius: 15px;
                    }
                    .content{
                        width: 25%;
                        height: 195px;
                        background-color: #D9D9D9;
                        margin-right: 5%;
                        margin-bottom: 5%;
                    }
                }
            }
        }
    }
}

@media (max-width: 1600px) {
    main.main{
        .mainWidth{
            div.top{
                div.box01{
                    p{
                        .br{
                            display: none;
                        }
                    }
                }
            }
            div.center{
                .middle{
                    display: flex;
                    padding: 8% 10%;
                    justify-content: space-between;
                    margin-bottom: 50px;
                    width: 100%;
                    box-sizing: border-box;
                    .dday{
                        background-image: url('/img/mypage/d-day.png');
                        background-size: 300px;
                        width: 300px;
                        height: 250px;
                        position: relative;
                        p{
                            position: absolute;
                            left: 40%;
                            top: 43%;
                            font-family: 'Inter', sans-serif;
                            font-size: 18px;
                            font-weight: 700;
                            line-height: 18px;
                            span{
                            font-size: 40px;
                            line-height: 58px;
                            }
                        }
                    }
                    .character{
                        position: relative;
                        width: 60%;
                        .charTitle{
                            font-family: 'Inter', sans-serif; 
                            font-size: 20px;
                            font-weight: 700;
                            line-height: 25px;
                            position: absolute;
                            top: -32px;
                            left: 50%;
                            transform: translateX(-50%);
                            text-align: center;
                            padding-top: 15px;
                            box-sizing: border-box;
                            width: 50%;
                            height: 65px;
                            border: $border;
                            text-align: center;
                            background-color: #FDB4AD;
                        }
                        .collect{
                            box-sizing: border-box;
                            border: $border;
                            padding: 80px 0 0 40px;
                            ul{
                                display: flex;
                                flex-wrap: wrap;
                                li{
                                    font-family: 'Inter', sans-serif; 
                                    font-size: 16px;
                                    font-weight: 500;
                                    line-height: 20px;
                                    margin-right: 40px;
                                    margin-bottom: 40px;
                                }
                            }
                        }
                    }
                }
                .bottom{
                    .btn{
                        button{
                            box-sizing: border-box;
                            width: 20%;
                            height: 60px;
                            border: $border;
                            border-bottom: 0;
                            font-family: 'Inter', sans-serif; 
                            font-size: 20px;
                            font-weight: 700;
                            line-height: 25px;
                            &:nth-child(2){
                                border-left: 0;
                            }
                            &:hover{
                                background-color: #ECD5FF;
                            }
                        }
                    }
                    .container{
                        border: $border;
                        width: 100%;
                        height: 550px;
                        margin-bottom: 150px;
                        display: flex;
                        flex-wrap: wrap;
                        box-sizing: border-box;
                        overflow-y: scroll;
                        padding: 7% 0 0 10%;
                        .content{
                            width: 27%;
                            height: 170px;
                            background-color: #D9D9D9;
                            margin-right: 5%;
                            margin-bottom: 5%;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 1300px) {
    main.main{
        .mainWidth{
            div.top{
                div.box01{
                    p{
                        .br{
                            display: none;
                        }
                    }
                }
            }
            div.center{
                .middle{
                    display: flex;
                    padding: 10% 10%;
                    justify-content: space-between;
                    margin-bottom: 30px;
                    width: 100%;
                    box-sizing: border-box;
                    .dday{
                        background-image: url('/img/mypage/d-day.png');
                        background-size: 230px;
                        width: 230px;
                        height: 191px;
                        position: relative;
                        p{
                            position: absolute;
                            left: 40%;
                            top: 43%;
                            font-family: 'Inter', sans-serif;
                            font-size: 17px;
                            font-weight: 700;
                            line-height: 17px;
                            span{
                            font-size: 38px;
                            line-height: 50px;
                            }
                        }
                    }
                    .character{
                        position: relative;
                        width: 58%;
                        .charTitle{
                            font-family: 'Inter', sans-serif; 
                            font-size: 19px;
                            font-weight: 700;
                            line-height: 25px;
                            position: absolute;
                            top: -32px;
                            left: 50%;
                            transform: translateX(-50%);
                            text-align: center;
                            padding-top: 15px;
                            box-sizing: border-box;
                            width: 50%;
                            height: 65px;
                            border: $border;
                            text-align: center;
                            background-color: #FDB4AD;
                        }
                        .collect{
                            box-sizing: border-box;
                            border: $border;
                            padding: 65px 0 0 35px;
                            ul{
                                display: flex;
                                flex-wrap: wrap;
                                li{
                                    font-family: 'Inter', sans-serif; 
                                    font-size: 16px;
                                    font-weight: 500;
                                    line-height: 20px;
                                    margin-right: 20px;
                                    margin-bottom: 35px;
                                }
                            }
                        }
                    }
                }
                .bottom{
                    .btn{
                        button{
                            box-sizing: border-box;
                            width: 18%;
                            height: 60px;
                            border: $border;
                            border-bottom: 0;
                            font-family: 'Inter', sans-serif; 
                            font-size: 18px;
                            font-weight: 700;
                            line-height: 25px;
                            &:nth-child(2){
                                border-left: 0;
                            }
                            &:hover{
                                background-color: #ECD5FF;
                            }
                        }
                    }
                    .container{
                        border: $border;
                        width: 100%;
                        height: 500px;
                        margin-bottom: 150px;
                        display: flex;
                        flex-wrap: wrap;
                        box-sizing: border-box;
                        overflow-y: scroll;
                        padding: 7% 0 0 10%;
                        .content{
                            width: 27%;
                            height: 140px;
                            background-color: #D9D9D9;
                            margin-right: 5%;
                            margin-bottom: 5%;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 1024px) {
    main.main{
        .mainWidth{
            width:calc(100vw - 150px);
            margin: 0 auto;
            div.top{
                div.box01{
                    p{
                        .br{
                            display: none;
                        }
                    }
                }
            }
            div.center{
                a{
                    position: absolute;
                    right: 3%;
                    top: 2%
                }
                .middle{
                    display: flex;
                    flex-direction: column;
                    padding: 10% 10% 0;
                    justify-content: space-between;
                    margin-bottom: 130px;
                    width: 100%;
                    box-sizing: border-box;
                    .dday{
                        margin: 0 auto 135px;
                        background-image: url('/img/mypage/d-day.png');
                        background-size: 450px;
                        width: 450px;
                        height: 374px;
                        position: relative;
                        p{
                            position: absolute;
                            left: 40%;
                            top: 43%;
                            font-family: 'Inter', sans-serif;
                            font-size: 25px;
                            font-weight: 700;
                            line-height: 40px;
                            span{
                            font-size: 70px;
                            line-height: 80px;
                            }
                        }
                    }
                    .character{
                        margin: 0 auto;
                        position: relative;
                        width: 100%;
                        .charTitle{
                            font-family: 'Inter', sans-serif; 
                            font-size: 25px;
                            font-weight: 700;
                            line-height: 35px;
                            position: absolute;
                            top: -35px;
                            left: 50%;
                            transform: translateX(-50%);
                            text-align: center;
                            padding-top: 15px;
                            box-sizing: border-box;
                            width: 50%;
                            height: 70px;
                            border: $border;
                            text-align: center;
                            background-color: #FDB4AD;
                        }
                        .collect{
                            box-sizing: border-box;
                            border: $border;
                            padding: 65px 0 0 50px;
                            ul{
                                display: flex;
                                flex-wrap: wrap;
                                li{
                                    font-family: 'Inter', sans-serif; 
                                    font-size: 18px;
                                    font-weight: 500;
                                    line-height: 20px;
                                    margin-right: 40px;
                                    margin-bottom: 45px;
                                }
                            }
                        }
                    }
                }
                .bottom{
                    .btn{
                        button{
                            box-sizing: border-box;
                            width: 22%;
                            height: 60px;
                            border: $border;
                            border-bottom: 0;
                            font-family: 'Inter', sans-serif; 
                            font-size: 20px;
                            font-weight: 700;
                            line-height: 25px;
                            &:nth-child(2){
                                border-left: 0;
                            }
                            &:hover{
                                background-color: #ECD5FF;
                            }
                        }
                    }
                    .container{
                        border: $border;
                        width: 100%;
                        height: 500px;
                        margin-bottom: 130px;
                        display: flex;
                        flex-wrap: wrap;
                        box-sizing: border-box;
                        overflow-y: scroll;
                        padding: 7% 0 0 10%;
                        .content{
                            width: 27%;
                            height: 120px;
                            background-color: #D9D9D9;
                            margin-right: 5%;
                            margin-bottom: 5%;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 768px) {
    main.main{
        .mainWidth{
            width:calc(100vw - 80px);
            margin: 0 auto;
            div.top{
                div.box01{
                    padding: 0 10px 0 20px;
                    p{
                        .br{
                            display: inline;
                        }
                    }
                    .icon03{
                        img{
                            width: 40px;
                            margin-left: 5px;
                        }
                    }
                }
            }
            div.center{
                a{
                    position: absolute;
                    right: 3%;
                    top: 1%
                }
                .middle{
                    display: flex;
                    flex-direction: column;
                    padding: 10% 10% 0;
                    justify-content: space-between;
                    margin-bottom: 100px;
                    width: 100%;
                    box-sizing: border-box;
                    .dday{
                        margin: 0 auto 100px;
                        background-image: url('/img/mypage/d-day.png');
                        background-size: 300px;
                        width: 300px;
                        height: 250px;
                        position: relative;
                        p{
                            position: absolute;
                            left: 40%;
                            top: 43%;
                            font-family: 'Inter', sans-serif;
                            font-size: 18px;
                            font-weight: 700;
                            line-height: 18px;
                            span{
                            font-size: 48px;
                            line-height: 70px;
                            }
                        }
                    }
                    .character{
                        margin: 0 auto;
                        position: relative;
                        width: 100%;
                        .charTitle{
                            font-family: 'Inter', sans-serif; 
                            font-size: 20px;
                            font-weight: 700;
                            line-height: 35px;
                            position: absolute;
                            top: -35px;
                            left: 50%;
                            transform: translateX(-50%);
                            text-align: center;
                            padding-top: 15px;
                            box-sizing: border-box;
                            width: 50%;
                            height: 70px;
                            border: $border;
                            text-align: center;
                            background-color: #FDB4AD;
                        }
                        .collect{
                            box-sizing: border-box;
                            border: $border;
                            padding: 65px 0 0 30px;
                            ul{
                                display: flex;
                                flex-wrap: wrap;
                                li{
                                    font-family: 'Inter', sans-serif; 
                                    font-size: 16px;
                                    font-weight: 500;
                                    line-height: 20px;
                                    margin-right: 25px;
                                    margin-bottom: 40px;
                                }
                            }
                        }
                    }
                }
                .bottom{
                    .btn{
                        button{
                            box-sizing: border-box;
                            width: 33.333%;
                            height: 60px;
                            border: $border;
                            border-bottom: 0;
                            font-family: 'Inter', sans-serif; 
                            font-size: 17px;
                            font-weight: 700;
                            line-height: 25px;
                            &:nth-child(2){
                                border-left: 0;
                            }
                            &:hover{
                                background-color: #ECD5FF;
                            }
                        }
                    }
                    .container{
                        border: $border;
                        width: 100%;
                        height: 500px;
                        margin-bottom: 130px;
                        display: flex;
                        flex-wrap: wrap;
                        box-sizing: border-box;
                        overflow-y: scroll;
                        padding: 8% 0 0 10%;
                        &::-webkit-scrollbar{
                            width: 15px;
                        }
                        &::-webkit-scrollbar-thumb{
                            background-color: #FFEDF7;
                            border-radius: 15px;
                        }
                        &::-webkit-scrollbar-track{
                            background-color: #E6E6E6;
                            border-radius: 15px;
                        }
                        .content{
                            width: 40%;
                            height: 120px;
                            background-color: #D9D9D9;
                            margin-right: 8%;
                            margin-bottom: 8%;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 480px) {
    main.main{
        padding: 80px 0 ;
        .mainWidth{
            width:calc(100vw - 30px);
            margin: 0 auto;
            div.top{
                margin-bottom: 30px;
                .icon01{
                    width: 60px;
                    position: absolute;
                    left: 15px;
                    top: -45px;
                }
                .icon02{
                    width: 80px;
                    position: absolute;
                    right: 15px;
                    top: -80px;
                    animation: upDown01 2s ease-in-out infinite alternate;
                }
                div.box01{
                    padding: 0 5px 0 15px;
                    p{
                        font-size: 14px;
                        font-weight: 700;
                        line-height: 25px;
                        .br{
                            display: inline;
                        }
                    }
                    .icon03{
                        img{
                            width: 35px;
                            margin-left: 3px;
                        }
                    }
                }
            }
            div.center{
                a{
                    position: absolute;
                    right: 3%;
                    top: 1%;
                    img{
                        width: 25px;
                    }
                }
                .middle{
                    display: flex;
                    flex-direction: column;
                    padding: 10% 8% 0;
                    justify-content: space-between;
                    margin-bottom: 80px;
                    width: 100%;
                    box-sizing: border-box;
                    .dday{
                        margin: 0 auto 80px;
                        background-image: url('/img/mypage/d-day.png');
                        background-size: 240px;
                        width: 240px;
                        height: 200px;
                        position: relative;
                        p{
                            position: absolute;
                            left: 40%;
                            top: 43%;
                            font-family: 'Inter', sans-serif;
                            font-size: 16px;
                            font-weight: 700;
                            line-height: 18px;
                            span{
                            font-size: 40px;
                            line-height: 50px;
                            }
                        }
                    }
                    .character{
                        margin: 0 auto;
                        position: relative;
                        width: 100%;
                        .charTitle{
                            font-family: 'Inter', sans-serif; 
                            font-size: 20px;
                            font-weight: 700;
                            line-height: 30px;
                            position: absolute;
                            top: -30px;
                            left: 50%;
                            transform: translateX(-50%);
                            text-align: center;
                            padding-top: 10px;
                            box-sizing: border-box;
                            width: 50%;
                            height: 60px;
                            border: $border;
                            text-align: center;
                            background-color: #FDB4AD;
                        }
                        .collect{
                            box-sizing: border-box;
                            border: $border;
                            padding: 50px 0 0 15px;
                            ul{
                                display: flex;
                                flex-wrap: wrap;
                                li{
                                    font-family: 'Inter', sans-serif; 
                                    font-size: 15px;
                                    font-weight: 500;
                                    line-height: 20px;
                                    margin-right: 15px;
                                    margin-bottom: 30px;
                                }
                            }
                        }
                    }
                }
                .bottom{
                    .btn{
                        button{
                            box-sizing: border-box;
                            width: 33.333%;
                            height: 60px;
                            border: $border;
                            border-bottom: 0;
                            font-family: 'Inter', sans-serif; 
                            font-size: 13px;
                            font-weight: 700;
                            line-height: 15px;
                            &:nth-child(2){
                                border-left: 0;
                            }
                            &:hover{
                                background-color: #ECD5FF;
                            }
                        }
                    }
                    .container{
                        border: $border;
                        width: 100%;
                        height: 400px;
                        margin-bottom: 80px;
                        display: flex;
                        flex-wrap: wrap;
                        box-sizing: border-box;
                        overflow-y: scroll;
                        padding: 9% 0 0 10%;
                        &::-webkit-scrollbar{
                            width: 10px;
                        }
                        &::-webkit-scrollbar-thumb{
                            background-color: #FFEDF7;
                            border-radius: 15px;
                        }
                        &::-webkit-scrollbar-track{
                            background-color: #E6E6E6;
                            border-radius: 15px;
                        }
                        .content{
                            width: 85%;
                            height: 160px;
                            background-color: #D9D9D9;
                            margin-right: 8%;
                            margin-bottom: 9%;
                        }
                    }
                }
            }
        }
    }
}